<% layout('layouts/boilerplate'); %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" 
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks awesome.
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks awesome.
                </div>
            </div>
            <div class="mb-3">
                <label for="multiImage" class="form-label">Choose image(s) to add...</label>
                <input class="form-control" type="file" id="multiImage" name="image" multiple>
              </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" class="form-control" id="price"
                        aria-describedby="price-label" placeholder="1.12" name="campground[price]" value="<%= campground.price %>" required>
                        <div class="valid-feedback">
                            Looks awesome.
                        </div>
                    </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" type="text" id="description"
                    name="campground[description]" required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks awesome.
                    </div>
                </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% }); %> 
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back To Campgrounds</a>
    </div>
</div>